Architecture: amd64
Description: graphicseditordemo built using CMake
Maintainer: example@example.com
Package: graphicseditordemo
Priority: optional
Section: devel
Version: 0.0.5
Installed-Size: 294

